@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

.span-logo {
  font-weight: bold;
}

.navbar-brand img {
  max-width: 100%;
  max-height: 40px; /* Ajusta el valor según tus necesidades */
  margin-right: 10px; /* Ajusta el valor según tus necesidades */
}

/* body, .navbar {
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
} */

body {
  background-image: url(../img/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

nav {
  /*  background: rgb(61, 34, 108);
    background: radial-gradient(circle, rgb(61, 34, 108) 0%, rgb(101, 9, 121) 35%, rgb(50, 226, 244) 100%); */
  color: #fff;
}

a {
  color: #fff;
}

form,
table {
  background: rgba(133, 133, 133, 0.575);
  padding: 20px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  color: #fff;
  opacity: 1;
  width: 70%;
  margin: 0 auto;
}

table {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

form p,
table td {
  font-weight: 500;
  color: #000;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

table td {
  color: #000;
  opacity: 0.9;
}

form input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form input:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.card-footer {
  background-color: #fff;
  padding: 20px;
  color: #000;
}

.carrusel {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  color: #000;
}

.wrapper i {
  z-index: 100;
  border: 2px solid #eee;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(1.5);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 0px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
}

.carousel .card .img {
  background: #001aff5e;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.carousel-azul .card .img {
  background: #001affda;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  padding: 0 5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 0px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 110%;
  }
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.wrapper .boton {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-radius: 6%;

}

.wrapper .btn-azul {
  background-color: #3700ff;
}

.wrapper .btn-amarillo {
  background-color: #bebb01;
}

.wrapper .btn-rojo {
  background-color: #ff0000;
}